* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    color: white;
    font-size: 1.2rem;
}

body > * {
    float: left;
}

.container {
    background: salmon;
    color: salmon;
    margin: 10px 20px;
    width: 25vw;
    height: 45vh;
    border-radius: 5px;
}

.border {
    border: 5px solid purple;
}

.inner {
    background: blue;
    border: 5px solid yellow;
    border-radius: 5px;
}

.first {
    display:flex;
    flex-wrap: wrap;
}

.second {
    display:flex;
    flex-wrap:wrap;
}

.second .inner {
    width: 50%;
    /* height: 60px; */
    flex:w
}