* {
    box-sizing: border-box;
    font-family: 'Product Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    padding: 0;

}
body {
  background: rgb(4, 36, 63);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 95vh;
  margin: 0;
}

li {
    /* justify-content: space-between; */
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    background: rgb(228, 228, 228);
    border-radius: 30px;
    box-shadow: -4px -3px 0 3px rgb(55, 112, 255),
    4px 3px 0 5px rgb(2, 112, 192),
    0 0 8px 10px rgba(0, 0, 0, 0.164);
    box-sizing: border-box;
    margin: 2% auto;
    min-height: 90vh;
    width: 600px;
}
h1 {
    color:rgb(3, 56, 121);
    padding: 3% 0;
    text-align: center;
    transition: all 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
h1:hover {
    cursor: default;
    -webkit-filter: blur(2px) drop-shadow(0 15px 2px red);
            filter: blur(2px) drop-shadow(0 15px 2px red);
    letter-spacing: 34px;
}
li:hover {
    cursor:pointer;
}
input[type="checkbox"] {
    color: rgb(23, 122, 112);
    font-size: 2rem;
    height: 1.5rem;
    width: 1.5rem;
}
input[type="checkbox"]:checked {
    background: rgb(23, 122, 112);
    font-size: 2rem;
    height: 1.5rem;
    width: 1.5rem;
}
  
button.delete {
    background: red;
    border: 1px solid rgb(129, 12, 12);
    border-radius: 2px;
    color: white;
    cursor:pointer;
    font-size: 1.5rem;
    padding: 0.1rem 0.7rem;
    transition: all 0.4s;
}

button.delete:hover {
    transform: scale(1.1);
    transform: rotateY(360deg);
}
li {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 0.5rem;
  }

  span {
    align-items: center;
    display: flex;
  }

  .completed {
    text-decoration: line-through;
}

.addtodo {
    padding: 5%;
}

#addtaskbtn {
    background: rgb(26, 87, 162);
    border-radius: 6px;
    color: white;
    height: 30px;
    padding: 0 1rem;
    margin-left: 5px;
}
#taskinput {
    height: 30px;
    outline: none;
    border-radius: 6px;

}

#taskinput:focus {
   outline: 2px solid rgb(26, 87, 162);
}