body {
    width:80%;
    margin: 0 auto;
}
.charp {
    width: 67ch;
    background-color: aliceblue;
}
hr {
    border-style: solid;
    border-color: rgba(211, 128, 204, 0.263);
    border-width: 7px;
    border-bottom: 0;
}
.orange, .blue {
    width: 80%;
    height:100px;    
}
.orange {
    background-color: orange;
}
.blue {
    background-color: skyblue;
}