h1 {
    font-size: 2rem;
    color: white;
    height: 60px;
    margin: 0;
    text-align: center;
    text-shadow: 0 4px 2px black;
}

body {
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, 0.189) 10px, rgba(0, 0, 0, 0.272) 20px) #37474F;
    font: 1.1em 'Product Sans', Helvetica, sans-serif;
    height: 98vh;
    /* overflow: hidden; */
  }
  
  img {
    display: block;
    margin-top: 5px;
    max-width: 100%;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.276);
    transition: all 0.2s ease-in;
  }
  img:hover {
    scale: 1.03;
  }
  .container {
    -moz-column-count: 4;
         column-count: 4;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  @media all and (max-width: 868px) {
    .container {
        -moz-column-count: 3;
             column-count: 3;
        -moz-column-gap: 10px;
             column-gap: 10px;
      }
  }
  @media all and (max-width: 620px) {
    .container {
        -moz-column-count: 2;
             column-count: 2;
        -moz-column-gap: 10px;
             column-gap: 10px;
      }
  }
  @media all and (max-width: 494px) {
    .container {
        -moz-column-count: 1;
             column-count: 1;
        -moz-column-gap: 10px;
             column-gap: 10px;
      }
  }