body {
    background-color: bisque;
}
.super {
    vertical-align: super;
    font-size: 75%;
}
.smaller {
    font-size: 75%;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

Exchange it by:

table, td {
    border: 1px solid black;
}

table, td, th {
    border: 1px solid black;
}
td, th {
    padding: 7px;
    min-width: 60px;
}

caption {
    font-size: 125%;
    margin-bottom: 5px;
}